commands:
  01_install_npm:
    command: |
      sudo yum remove -y nodejs npm
      sudo rm -fr /var/cache/yum/*
      sudo yum clean all
      curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -
      sudo yum install nodejs -y
      # sudo npm install -g npm@6.13.7
    ignoreErrors: true

container_commands:
  00_01_move_environment_file:
    command: "mv /tmp/.env /var/app/ondeck/.env"
  01_02_npm:
    command: |
      sudo npm install
      sudo npm run prod
    cwd: "/var/app/ondeck"
    ignoreErrors: true
  02_01_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
